input{
    /* text-align: center; */
    /* border-radius: 0.2rem; */
}
/* Jumbotron styles start */
/* .jumbotron {
    background: url("./bg.jpg") center center / cover no-repeat;
    height: 34.5vh;
    text-align: center;
    padding: 0%;
    color: white;
} */
/* 
.jumbotron .container{
    height: 100%;
}

.jumbotron .row{
    height:100%;
}

.jumbotron .col{
    margin: 0;
} */
.jumbo {
    background-image: url('./bg.jpg');
    height: 32vh;
    opacity: 1;    
    border-radius: 0rem;
}
.round-img {
    border-radius: 80%;
    height: 5vh;
    width: 3vw;
}

#companyName{
    height: 100%;
    text-align: start;
}

#user{
    height: 100%;
    text-align: end;
}

.jumbotron h2{
    font-weight: lighter;
}

.col .align-self-end{
    vertical-align: baseline;
}

.avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  /* Jumbotron styles end */

  /*Category Information start*/
  #categoryRow{
    height: 20vh;
}
#categoryIcon{
    width: 5vh;
}

#categoryName{
    text-align: start;
}

#categoryName p:nth-child(1){
    font-size: 2vh;
  }
#categoryName p:nth-child(2){
  font-size: 4vh;
  font-weight: lighter;
}
#categoryMiddleText{
    text-align: center;
    font-size: 4vh;
    font-weight: 350;
}
#policyNumber{
    font-weight: bold;
}
/*Category Information style end*/

/* Details start */
.detailsContainer{
    padding-left: 1vw;
}

.detailsContainer .row{
    width: 90%;
    padding: 3vh;
    background-color: rgb(241, 240, 240);
    margin: 0 auto 0 auto;
}

.detailsContainer .row h5{
    font-weight: lighter;
}
.detailsContainer .row:nth-child(1){
    /* border-bottom: grey solid 1px !important; */
}

.detailsContainer img{
    width: 4vh;
}
/* Details end */

/*Additional Optional Container start */
.additionaloptionalContainer{
    padding-left: 1vw;
}

.additionaloptionalContainer .row{
    width: 90%;
    padding: 3vh;
    background-color: rgb(241, 240, 240);
    margin: 0 auto 0 auto;
}

.additionaloptionalContainer .row h5{
    font-weight: lighter;
}

.additionaloptionalContainer img{
    width: 4vh;
}
.h2-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0rem; 
    font-size: x-large;
    font-weight: 150;
}
#addDriver{
    border-radius: 5px;
    border: none;
    height: 10vh;
    width: 20vw;
    color: white;
    font-size: 3vh;
    background-color: blue;
}
#navigationButtonsContainer{
    background-color: white;
    text-align: center;
}

#navigationButtonsContainer button{
    width: 10vw;
}
 #returnHomeLink{
    background-color: white;
     text-align: center;
      text-decoration: underline;
 }
/*Additional Optional Container end */